# Top-most EditorConfig file marker.
root = true

# Unix-style line endings.
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# JavaScript files.
[*.js]
indent_style = space
indent_size = 2

# Ignore minified JavaScript files.
[**.min.js]
indent_style = ignore
